$font_primary: "Roboto", sans-serif;
$font_secondary: "Impact", sans-serif;
$font_size: 16px;
$line_height: 1.5;
$body_bg: #f0f0f0;
$color_white: #ffffff;
$color_icon: #f6f6f6;
$color_light: #9ba1ab;
$color_dark: #11151a;
$color_dark2: #2b3545;
$color_dark3: #354051;
$color_disabled: #8a98ad;
$color_placeholder: #9ba1ab;
$color_btn: #46ca43;
$trsn: 0.3s;
